* {
    box-sizing: border-box
}



body {
    height: 100vh;
    background: url("assets/freedom.jpg") no-repeat center;
    background-size: cover
}


h1 {
    font-family: "Julius Sans One";
    font-size: 2.5rem;
    color: #333333;
    text-align: center;
    line-height: 1.5;
    margin: 6.5rem 0 3.5rem
}

p {
    font-family: "Crimson Text";
    font-size: 1.3rem;
    color: #333333;
    text-align: center;
    line-height: 1.8;
}

@media (min-width: 768px) {
    h1 {
        margin: 6.5rem 2.5rem 3.5rem
    }
}